@import "tailwindcss";
@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;

.header {
  @apply flex items-center justify-between /*Flex properties*/
  bg-gray-900 text-white /*Background and text color*/
  p-4 /*Padding*/
  shadow-lg /*Shadow for depth*/
  sticky top-0 left-0 w-full z-50; /*Fixed position at the top*/
}

.title {
  @apply text-3xl font-bold /*Text style*/
  flex-1
  text-yellow-400 /*Title color*/; 
}

.icons {
  @apply flex items-center gap-4 /*Flex properties for icons*/
  text-2xl /*Icon size*/
  flex-1;
}

.icon-red {
  @apply border-2 border-red-500 /*Red icon color*/
  hover:border-red-700 /*Hover effect*/; 
}

.icon-black {
  @apply border-2 border-gray-800/*Black icon border*/
  hover:border-gray-700 /*Hover effect*/; 
}

.card-icon {
  @apply  px-1
  hover:text-white/*Cursor and hover effect*/
  transition-colors duration-200 ease-in-out; /*Smooth transition for color change*/
}

.card, .drop {
  @apply flex flex-col items-center justify-center /*Flex elements*/
  w-24 h-32 /*Size*/
  border border-gray-300 rounded-lg shadow-md/*Borders*/
  text-5xl font-bold;/*Text style 3rem=5xl*/
}

.black {
  @apply bg-gray-800 text-white; /*Black card style*/
}
.red {
  @apply bg-red-500 text-white; /*Red card style*/
}

.card:hover {
  @apply brightness-200 /*Change background on hover*/
  transition-all duration-200 ease-in-out/*Smooth transition*/
  transform scale-105; /*Slightly enlarge on hover*/
}

.card.dragging {/*Style for dragged card*/
  opacity: 0.5; /*Make dragged card semi-transparent*/
}

.deck {
  @apply flex flex-nowrap gap-4 justify-around/*Flex properties*/
  w-5/6 mx-auto p-2;
}

.btn {
  @apply px-4 py-2 
  bg-blue-500 text-white 
  rounded hover:bg-blue-600
  transition-colors duration-200;
}

.btn:hover {
  @apply bg-blue-600;
}

.drop {
  @apply  border-2 border-dashed /*Border to separate from regular cards*/
  border-gray-400 rounded-lg 
  w-28 h-36 /*Bit larger than regular card*/
  text-2xl font-semibold
  transition-all duration-200 ease-in-out/*Smooth transition*/
  my-5 p-6;/*Margin and padding for more spacing*/
}

.drop.active {
  @apply bg-gray-100 /*Change background when active*/
  border-blue-500 /*Highlight border when active*/
  transform scale-120;/*Slightly enlarge on hover*/
}